.thead{
    
    background-color: rgb(116, 13, 116);
}

.td{
    padding: 5px;
    color: #000;
}

.table{
    width: 100%;
    
    
}

.th{
    padding: 10px;
    text-align: left;
    color: #fff;
    border-radius: 4px;

}

.escuro{
background-color: red;
}

.claro{
background-color: blue;
}